.App {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item {
  padding: 10px;
  display: flex;
}

.item-image {
  flex: 1;
}

.item-image-content {
  width: 100%;
}

.item-content {
  flex: 3;
  text-align: left;
  padding: 10px;
}

.item-content-author {
  display: flex;
}

.item-content-author div {
  margin-right: 10px;
}

.item-content .title {
  font-weight: bold;
}

.item-content div {
  margin-bottom: 10px;
}
